<%- include("partials/top") %>
  <title>Game Detail</title>
</head>
<body>
  <div class="detailContent">
    <h2><%= game.name %></h2>
    <img class="detailIMG" src="<%= game.imageUrl %>" alt="<%= game.name %> Image">
    <div class="detailInfo">
    <p><%= game.description %></p>
    <p>Age: <%= game.age %></p>
    <p>Multiplayer: <%= game.multiplayer ? 'Yes' : 'No' %></p>
    <p>Release Date: <%= game.releaseDate %></p>
    <p>Genre: <%= game.genre %></p>
    <p>Platforms: <%= game.platforms ? game.platforms.join(', ') : 'N/A' %></p>
    <p>Developer: <%= game.developers.name %></p>
    <p>Status: <%= game.developers.isActive %></p>
    <p>Games Published: <%= game.developers.gamesPublished %></p>
  </div>
  </div>
</body>
</html>
