<%- include("partials/top") %>
  <title>Game Detail</title>
</head>
<body>
  <div class="detailContent">
    <h2><%= game.name %></h2>
    <img class="detailIMG" src="<%= game.imageUrl %>" alt="<%= game.name %> Image">
    <div class="detailInfo">
    <p><%= game.description %></p>
    <p>Leeftijd: <%= game.age %></p>
    <p>Meerdere spelers: <%= game.multiplayer ? 'Yes' : 'No' %></p>
    <p>Datum: <%= game.releaseDate %></p>
    <p>Genre: <%= game.genre %></p>
    <p>Platform: <%= game.platforms %></p>
    <p>Developer: <a class="linkDeveloper" href="/developerDetail/<%= game.developers.id %>"><%= game.developers.name %></a></p>
  </div>
  </div>
</body>
</html>
