<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Games overzicht</title>
</head>
<nav>
  <ul>
    <li><a class="active" href="/">Games</a></li>
    <li><a href="/developer">Developers</a></li>
    
  </ul>
</nav>
<body>

<!-- Zoekbalk -->
<form class="indexSearchBar" action="/" method="GET">
  <label style="margin-left: 1rem; color: white;" for="searchInput">Zoek een game:</label>
  <input type="text" id="search" name="search" placeholder="Voer zoekterm in" value="<%= searchQuery %>">
  <button type="submit">Zoeken</button>
</form>

  <div class="indexContent">
    <table>
      <thead>
        <tr>
          <th>Name
            <a href="/?sort=name&order=asc">▲</a>
            <a href="/?sort=name&order=desc">▼</a>
          </th>
          <th>Description
            <a href="/?sort=description&order=asc">▲</a>
            <a href="/?sort=description&order=desc">▼</a>
          </th>
          <th>Release Date
            <a href="/?sort=releaseDate&order=asc">▲</a>
            <a href="/?sort=releaseDate&order=desc">▼</a>
          </th>
          <th>Genre
            <a href="/?sort=genre&order=asc">▲</a>
            <a href="/?sort=genre&order=desc">▼</a>
          </th>
          <th>Platforms
            <a href="/?sort=platforms&order=asc">▲</a>
            <a href="/?sort=platforms&order=desc">▼</a>
          </th>
          <th>
            
          </th>
        </tr>
      </thead>
      <tbody>
        <% games.forEach(game => { %>
          <tr>
            <td><a href="/detail/<%= game.id %>"><%= game.name %></a></td>
            <td><%= game.description %></td>
            <td><%= game.releaseDate %></td>
            <td><%= game.genre %></td>
            <td><%= game.platforms %></td>
            <% if (user.role === "ADMIN" ) { %>
              <td><a href="/edit/<%= game.id %>">Bewerken</a></td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <p><%= user.email %> is logged in.</p>

  <form action="/logout" method="post">
      <button type="submit">Logout</button>
  </form>

</body>
</html>
